@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Quicksand&family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*
Importacion de fuentes de Google Font
*/
.contacto .contacto__form .contacto__form-input, .contacto .contacto__form .contacto__form-text, .contacto .contacto__form .contacto__form-sub {
  color: #7f5539;
  margin: 0.5rem;
  padding: 0.5rem;
  border: double;
  border-bottom: solid 1px;
  font-size: 1rem;
  background-color: #FFEEAD;
  border-radius: 0.5rem; }

.heladeria {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px; }

.gelato {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px; }

/* GRID */
.grilla {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header" "nosotros" "productos" "locall" "contacto" "footer"; }

/*
PASO 1: Definir estrategia --> MOBILE LAST
PASO 2: Escribir media querys --> MAX WIDTH y BREAKPOINTS
PASO 3: Codear condiciones

Media Querys */
/* Si como minimo tengo 768px de ancho.... */
@media (max-width: 768px) {
  .grilla {
    grid-template-rows: auto;
    grid-template-areas: "header" "nosotros" "productos" "locall" "contacto" "footer"; } }

/*
IMPORTO LAS SECCIONES
*/
header {
  background-color: #96CEB4;
  /* SECCIONES */
  /* MENU - NAV */ }
  header .header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #96CEB4;
    /* LOGO */ }
    header .header a img {
      position: fixed;
      width: 10%;
      height: auto;
      left: 1%;
      top: 2%; }
  header .nav__links ul {
    display: flex;
    margin-right: 50px;
    /* MENU - LISTAS */
    /* LINKS */
    /* MAYUSCULAS EN MENU  */ }
    header .nav__links ul li {
      margin: 10px;
      padding: 10px; }
    header .nav__links ul li a {
      color: #FFEEAD;
      text-decoration: none; }
    header .nav__links ul .nav__links--activo:hover {
      color: #D9534F;
      text-transform: uppercase; }

/*
PASO 1: Definir estrategia --> MOBILE LAST
PASO 2: Escribir media querys --> MAX WIDTH y BREAKPOINTS
PASO 3: Codear condiciones

Media Querys */
/* Si como minimo tengo 768px de ancho.... */
@media (max-width: 768px) {
  /* ENCABEZADO */
  header {
    background: #96CEB4;
    /* HEADER */ }
    header .header {
      grid-area: header;
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-top: 2rem;
      margin-bottom: 2rem;
      color: #96CEB4;
      /* LOGO */
      /* MENU - NAV */
      /* LINKS */
      /* MAYUSCULAS EN MENU  */ }
      header .header a img {
        position: relative;
        width: 50%; }
      header .header .nav__links ul {
        display: inline;
        margin-right: 10rem; }
      header .header .nav__links li a {
        font-weight: bold;
        font-size: 1.3rem;
        color: #FFEEAD; }
      header .header .nav__links--activo:hover {
        color: #7f5539;
        text-transform: uppercase;
        transition-duration: 2s; } }

body {
  font-family: "Roboto", sans-serif; }

/* SECCIONES */
.nosotros {
  grid-area: nosotros;
  padding: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #FFEEAD;
  /* ANCHO CARROUSEL PPAL */ }
  .nosotros h1 {
    font-family: "Satisfy", cursive;
    font-style: italic;
    font-font-size: 6rem;
    color: black;
    font-size: 6rem;
    font-weight: 100;
    line-height: 70px;
    width: 80%; }
    .nosotros h1 .otraLetra {
      font-family: "Roboto Slab", serif;
      font-style: initial;
      font-size: 2rem;
      letter-spacing: 10px; }
  .nosotros .alto {
    height: 90vh;
    /* IMAGENES DEL CARROUSEL */ }
    .nosotros .alto img {
      position: relative;
      width: 100vw;
      bottom: 350px;
      z-index: -1;
      padding-bottom: 2rem; }
    .nosotros .alto .cucurucho {
      position: relative;
      top: 100px;
      z-index: -1; }
  .nosotros .fondocono {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/conomult.jpg);
    padding-top: 2rem;
    /* PARRAFO PRINCIPAL DE LA SECCIÓN */ }
    .nosotros .fondocono h2 {
      font-family: "Bebas Neue", cursive;
      color: #D9534F;
      font-size: 5rem;
      font-weight: 100;
      line-height: 100px;
      width: 80%;
      letter-spacing: 4px; }
    .nosotros .fondocono p {
      color: #666666;
      font-size: 1.5rem;
      font-weight: 100;
      line-height: 30px;
      width: 80%;
      /* TEXTO SELECCIONADO */ }
      .nosotros .fondocono p:hover {
        background-color: #96CEB4;
        color: #666666;
        transition-duration: 2s;
        padding: 1rem;
        border: double;
        border-radius: 0.5rem;
        width: 80%; }

/*
PASO 1: Definir estrategia --> MOBILE LAST
PASO 2: Escribir media querys --> MAX WIDTH y BREAKPOINTS
PASO 3: Codear condiciones

Media Querys */
/* Si como minimo tengo 768px de ancho.... */
@media (max-width: 768px) {
  /* SECCIONES */
  .nosotros {
    grid-area: nosotros;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
    /* ANCHO CARROUSEL PPAL */ }
    .nosotros h1 {
      font-family: "Satisfy", cursive;
      font-style: italic;
      font-font-size: 6rem;
      color: black;
      font-size: 6rem;
      font-weight: 100;
      line-height: 70px;
      width: 80%; }
      .nosotros h1 .otraLetra {
        font-family: "Roboto Slab", serif;
        font-style: initial;
        font-size: 2rem;
        letter-spacing: 10px; }
    .nosotros .alto {
      height: 100vh;
      /* IMAGENES DEL CARROUSEL */ }
      .nosotros .alto img {
        position: relative;
        width: 100vw;
        height: 100vh;
        bottom: 350px;
        z-index: -1;
        padding-bottom: 2rem; }
      .nosotros .alto .cucurucho {
        position: relative;
        width: 100vw;
        height: 100vh;
        top: 100px;
        z-index: -1; }
    .nosotros .fondocono {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      background-image: url(/img/conomult.jpg);
      padding-top: 2rem;
      /* PARRAFO PRINCIPAL DE LA SECCIÓN */ }
      .nosotros .fondocono h2 {
        font-family: "Bebas Neue", cursive;
        color: #D9534F;
        font-size: 5rem;
        font-weight: 100;
        line-height: 100px;
        width: 80%;
        letter-spacing: 4px; }
      .nosotros .fondocono p {
        color: #666666;
        font-size: 1.5rem;
        font-weight: 100;
        line-height: 30px;
        width: 80%;
        /* TEXTO SELECCIONADO */ }
        .nosotros .fondocono p:hover {
          background-color: #96CEB4;
          color: #666666;
          transition-duration: 2s;
          padding: 1rem;
          border: double;
          border-radius: 0.5rem;
          width: 80%; } }

.productos {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "titulo titulo titulo titulo" "prod1 prod2 prod3 prod4";
  grid-area: productos;
  color: #FFEEAD;
  border-top: solid;
  background-image: url(/img/local25.jpg);
  background-size: cover; }

.titulo {
  grid-area: titulo;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: white;
  /* PARRAFO PRINCIPAL DE LA SECCIÓN */ }
  .titulo h2 {
    font-family: "Bebas Neue", cursive;
    color: #D9534F;
    font-size: 5rem;
    font-weight: 100;
    line-height: 100px;
    width: 80%;
    letter-spacing: 4px; }
  .titulo p {
    color: #666666;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 30px;
    width: 80%;
    background-color: #F0EDDC;
    border: double;
    border-radius: 0.5rem;
    /* TEXTO SELECCIONADO */ }
    .titulo p:hover {
      background-color: #F0EDDC;
      color: #666666;
      transition-duration: 2s;
      border: double;
      border-radius: 0.5rem;
      width: 90%; }

.prod1,
.prod2,
.prod3,
.prod4 {
  grid-area: prod1, prod2, prod3, prod4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* LISTAS */ }
  .prod1 p,
  .prod2 p,
  .prod3 p,
  .prod4 p {
    color: #7f5539;
    font-size: 1.2rem;
    font-weight: 900;
    line-height: 30px;
    width: 100%;
    background-color: #F0EDDC;
    border: double;
    border-radius: 0.5rem;
    /* TEXTO SELECCIONADO */ }
    .prod1 p:hover,
    .prod2 p:hover,
    .prod3 p:hover,
    .prod4 p:hover {
      background-color: #7f5539;
      color: #FFEEAD;
      transition-duration: 2s;
      border: double;
      border-radius: 0.5rem;
      width: 100%; }
  .prod1 li,
  .prod2 li,
  .prod3 li,
  .prod4 li {
    list-style: none;
    color: #666666;
    font-size: 1rem;
    font-weight: 100;
    line-height: 40px;
    width: 100%;
    background-color: #F0EDDC;
    border: double;
    border-radius: 0.5rem;
    width: 100%; }
    .prod1 li:hover,
    .prod2 li:hover,
    .prod3 li:hover,
    .prod4 li:hover {
      background-color: #7f5539;
      color: #FFEEAD;
      transition-duration: 2s;
      border: double;
      border-radius: 0.5rem;
      width: 100%; }

/*
PASO 1: Definir estrategia --> MOBILE LAST
PASO 2: Escribir media querys --> MAX WIDTH y BREAKPOINTS
PASO 3: Codear condiciones

Media Querys */
/* Si como minimo tengo 768px de ancho.... */
@media (max-width: 768px) {
  /* SECCIONES */
  .productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas: "titulo titulo" "prod1 prod2" "prod3 prod4";
    grid-area: productos;
    color: #FFEEAD;
    border-top: solid;
    background-image: url(/img/local25.jpg);
    background-size: cover; }
  .titulo {
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    /* PARRAFO PRINCIPAL DE LA SECCIÓN */ }
    .titulo h2 {
      font-family: "Bebas Neue", cursive;
      color: #D9534F;
      font-size: 5rem;
      font-weight: 100;
      line-height: 100px;
      width: 80%;
      letter-spacing: 4px; }
    .titulo p {
      color: #666666;
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 30px;
      width: 80%;
      background-color: #F0EDDC;
      border: double;
      border-radius: 0.5rem;
      /* TEXTO SELECCIONADO */ }
      .titulo p:hover {
        background-color: #F0EDDC;
        color: #666666;
        transition-duration: 2s;
        border: double;
        border-radius: 0.5rem;
        width: 90%; }
  .prod1,
  .prod2,
  .prod3,
  .prod4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-content: flex-start;
    /* LISTAS */ }
    .prod1 p,
    .prod2 p,
    .prod3 p,
    .prod4 p {
      color: #7f5539;
      font-size: 1.2rem;
      font-weight: 900;
      line-height: 30px;
      width: 100%;
      background-color: #F0EDDC;
      border: double;
      border-radius: 0.5rem;
      /* TEXTO SELECCIONADO */ }
      .prod1 p:hover,
      .prod2 p:hover,
      .prod3 p:hover,
      .prod4 p:hover {
        background-color: #7f5539;
        color: #FFEEAD;
        transition-duration: 2s;
        border: double;
        border-radius: 0.5rem;
        width: 100%; }
    .prod1 ul,
    .prod2 ul,
    .prod3 ul,
    .prod4 ul {
      padding-left: 0rem; }
    .prod1 li,
    .prod2 li,
    .prod3 li,
    .prod4 li {
      list-style: none;
      color: #666666;
      font-size: 1rem;
      font-weight: 100;
      line-height: 40px;
      width: 100%;
      background-color: #F0EDDC;
      border: double;
      border-radius: 0.5rem;
      width: 100%; }
      .prod1 li:hover,
      .prod2 li:hover,
      .prod3 li:hover,
      .prod4 li:hover {
        background-color: #7f5539;
        color: #FFEEAD;
        transition-duration: 2s;
        border: double;
        border-radius: 0.5rem;
        width: 100%; } }

/* SECCIONES */
.local {
  grid-area: locall;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #FFEEAD;
  border-top: double;
  background-image: url(/img/conomult.jpg);
  background-size: cover; }
  .local h2 {
    font-family: "Bebas Neue", cursive;
    color: #D9534F;
    font-size: 5rem;
    font-weight: 100;
    line-height: 100px;
    width: 80%;
    letter-spacing: 4px; }
  .local .local__ubicacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
    /* PARRAFO PRINCIPAL DE LA SECCIÓN */
    /* INFORMACIÓN DE SECCIÓN */ }
    .local .local__ubicacion p {
      color: black;
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 30px;
      width: 30%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border: double;
      border-radius: 0.5rem;
      background-color: #F0EDDC;
      /* LOCAL SELECCIONADO */ }
      .local .local__ubicacion p:hover {
        background-color: #7f5539;
        color: #FFEEAD;
        transition-duration: 2s; }
    .local .local__ubicacion .local iframe {
      display: flex; }

/*
PASO 1: Definir estrategia --> MOBILE LAST
PASO 2: Escribir media querys --> MAX WIDTH y BREAKPOINTS
PASO 3: Codear condiciones

Media Querys */
/* Si como minimo tengo 768px de ancho.... */
@media (max-width: 768px) {
  /* SECCIONES */
  .local {
    grid-area: locall;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #FFEEAD;
    border-top: double;
    background-image: url(/img/conomult.jpg);
    background-size: cover;
    /* INFORMACIÓN DE SECCIÓN */ }
    .local h2 {
      font-family: "Bebas Neue", cursive;
      color: #D9534F;
      font-size: 5rem;
      font-weight: 100;
      line-height: 100px;
      width: 80%;
      letter-spacing: 4px; }
    .local .local__ubicacion {
      display: flex;
      flex-direction: column;
      /* PARRAFO PRINCIPAL DE LA SECCIÓN */ }
      .local .local__ubicacion p {
        color: #666666;
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 30px;
        width: 80%;
        background-color: #F0EDDC;
        border: double;
        border-radius: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        /* LOCAL SELECCIONADO */ }
        .local .local__ubicacion p:hover {
          background-color: #7f5539;
          color: #FFEEAD;
          transition-duration: 2s; } }

/* SECCIONES */
.contacto {
  grid-area: contacto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #FFEEAD;
  border-top: double;
  background-color: #F0EDDC;
  background-image: url(/img/cucuruchofrutilla.png);
  background-repeat: no-repeat;
  background-position: -3rem;
  /* PARRAFO PRINCIPAL DE LA SECCIÓN */
  /* FORMULARIO */ }
  .contacto h2 {
    font-family: "Bebas Neue", cursive;
    color: #D9534F;
    font-size: 5rem;
    font-weight: 100;
    line-height: 100px;
    width: 80%;
    letter-spacing: 4px; }
  .contacto p {
    color: #666666;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 30px;
    width: 100%;
    /* TEXTO SELECCIONADO */ }
    .contacto p:hover {
      background-color: #7f5539;
      color: #FFEEAD;
      transition-duration: 2s;
      border: double;
      border-radius: 0.5rem; }
  .contacto .contacto__form {
    width: 70%;
    /* FORMULARIO-INPUT */
    /* FORMULARIO-TEXTO */
    /* FORMULARIO-SUBMIT */
    /* FORMULARIO SELECCIONADO */ }
    .contacto .contacto__form .contacto__form-row {
      display: flex;
      flex-direction: row;
      align-items: center; }
    .contacto .contacto__form .contacto__form-input {
      width: 60%;
      align-items: center; }
    .contacto .contacto__form .contacto__form-text {
      width: 100%; }
    .contacto .contacto__form .contacto__form-sub {
      width: 60%;
      margin-bottom: 4rem;
      font-weight: 600; }
    .contacto .contacto__form .contacto__form--activo:hover {
      background-color: #7f5539;
      color: #FFEEAD;
      transition-duration: 2s; }

/*
PASO 1: Definir estrategia --> MOBILE LAST
PASO 2: Escribir media querys --> MAX WIDTH y BREAKPOINTS
PASO 3: Codear condiciones

Media Querys */
/* Si como minimo tengo 768px de ancho.... */
@media (max-width: 768px) {
  /* SECCIONES */
  .contacto {
    grid-area: contacto;
    display: flex;
    border-top: double;
    background-image: url(/img/cucuruchofrutilla.png);
    background-size: cover;
    background-position: -11rem;
    color: #FFEEAD;
    /* PARRAFO PRINCIPAL DE LA SECCIÓN */
    /* FORMULARIO */ }
    .contacto h2 {
      font-family: "Bebas Neue", cursive;
      color: #D9534F;
      font-size: 5rem;
      font-weight: 100;
      line-height: 100px;
      width: 80%;
      letter-spacing: 4px; }
    .contacto p {
      color: #666666;
      font-size: 1.5rem;
      font-weight: 100;
      line-height: 30px;
      width: 50%;
      text-align: center;
      /* TEXTO SELECCIONADO */ }
      .contacto p:hover {
        background-color: #7f5539;
        color: #FFEEAD;
        transition-duration: 2s;
        border: double;
        border-radius: 0.5rem; }
    .contacto .contacto__form {
      width: 80%;
      /* FORMULARIO-INPUT */
      /* FORMULARIO-TEXTO */
      /* FORMULARIO-SUBMIT -- MAP-GET*/ }
      .contacto .contacto__form .contacto__form-row {
        display: flex;
        flex-direction: column;
        align-items: center; }
      .contacto .contacto__form .contacto__form-input {
        color: #7f5539;
        font-size: 1rem;
        margin-top: 1rem;
        padding: 0.5rem;
        border: double;
        background-color: #FFEEAD;
        border-radius: 0.5rem;
        width: 55%;
        border-bottom: solid 1px; }
      .contacto .contacto__form .contacto__form-text {
        color: #7f5539;
        font-size: 1rem;
        margin-top: 1rem;
        padding: 0.5rem;
        border: double;
        background-color: #FFEEAD;
        border-radius: 0.5rem;
        width: 70%;
        border-bottom: solid 1px; }
      .contacto .contacto__form .contacto__form-sub {
        color: #7f5539;
        width: 55%;
        border: double;
        border-bottom: solid 1px;
        font-size: 1rem;
        margin-bottom: 2rem;
        border-radius: 0.5rem;
        font-weight: 600;
        background-color: #FFEEAD; }
      .contacto .contacto__form .contacto__form--activo:hover {
        background-color: #7f5539;
        color: #FFEEAD;
        transition-duration: 2s; } }

/* SECCIONES */
.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-content: center;
  background-color: #FFAD60;
  /* PIE DE PÁGINA */
  /* MENU - NAV */
  /* MENU - LISTAS */ }
  .footer p {
    font-size: 1.2rem;
    margin-left: 30px;
    display: flex;
    color: black; }
  .footer .footer__links ul {
    display: flex;
    flex-direction: row;
    width: 80%;
    list-style: none;
    margin-right: 1.5rem;
    margin-top: 0.5rem; }
  .footer li {
    padding: 20px; }

/* LINK - FACEBOOK CON LOGO*/
.fa-facebook {
  font-size: 3rem;
  border-radius: 2.5rem;
  color: #3b5998;
  background-color: white; }

/* LINK - INSTAGRAM CON LOGO */
.fa-instagram {
  font-size: 3rem;
  border-radius: 5rem;
  color: white;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }

/*
PASO 1: Definir estrategia --> MOBILE LAST
PASO 2: Escribir media querys --> MAX WIDTH y BREAKPOINTS
PASO 3: Codear condiciones

Media Querys */
/* Si como minimo tengo 768px de ancho.... */
@media (max-width: 768px) {
  /* SECCIONES */
  .footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5d4037;
    border-top: double;
    background-color: #FFAD60;
    /* PIE DE PÁGINA */
    /* MENU - NAV */
    /* MENU - LISTAS */ }
    .footer p {
      font-size: 1.2rem;
      color: black;
      margin-top: 2rem; }
    .footer .footer__links ul {
      display: flex;
      flex-direction: row;
      width: 80%;
      list-style: none; }
    .footer .footer__links li {
      margin: 10px; } }
