//LLAMO LAS VARIABLES PARA LOS COLORES

$celeste: #8c9eff;
$marron: #7f5539;
$amarillo: #FFEEAD;
$fondo: #F0EDDC;
$mobileletra: #f1f8e9;
$fondoHeader: #f0c17b;
$fondoFooter: #FFAD60;
$letra: #666666;
$verde: #96CEB4;
$colorado: #D9534F;