/*
Importacion de fuentes de Google Font
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Quicksand&family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

$estiloProyecto: 'Quicksand',
sans-serif;
$estiloProyecto1: 'Roboto',
sans-serif;
$estiloProyecto2: 'Roboto Slab',
serif;

$letraTitulos: 'Bebas Neue',
cursive;
$letraTitulos1: 'Lato',
sans-serif;
$letraTitulos2: 'Quicksand',
sans-serif;
$letraTitulos3: 'Roboto',
sans-serif;
$letraTitulos4: 'Roboto Slab',
serif;

$letraLogo: 'Satisfy',
cursive;