//MAPS + EACH (bucle)

$textoResaltado: (heladeria: black,
    gelato: black,
);


@each $frases,
$color in $textoResaltado {
    .#{$frases} {
        color: $color;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 25px;
    }
}

// MAP-GET
$estiloForm: (colorr: $marron,
    ancho: 55%,
    bordes: double,
    bordeAbajo: solid 1px,
    tamanio: 1rem,
    margenAbajo: 2rem,
    borde: 0.5rem,
    peso: 600,
    fondo: $amarillo,
);