body {
    font-family: $estiloProyecto1;
}

/* SECCIONES */
.nosotros {
    grid-area: nosotros;
    padding: 0px;
    @include grilla (flex, column, center, center, $amarillo);

    // TITULO PRINCIPAL
    h1 {
        font: {
            family: $letraLogo;
            style: italic;
            font-size: 6rem;
        }

        .otraLetra {
            font: {
                family: $estiloProyecto2;
                style: initial;
                size: 2rem;
            }

            letter-spacing: 10px;
        }

        // LLAMO AL MIXIN PRO REALIZADO
        @include estilosParrafo(black, 6rem, 100, 70px, 80%);
    }

    /* ANCHO CARROUSEL PPAL */
    .alto {
        height: 90vh;

        /* IMAGENES DEL CARROUSEL */
        img {
            position: relative;
            width: 100vw;
            bottom: 350px;
            z-index: -1;
        }

        .cucurucho {
            position: relative;
            top: 100px;
            z-index: -1;
        }
    }

    .fondocono {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-image: url(/img/conomult.jpg);
        padding-top: 2rem;

        // TITULO DE LA SECCION
        h2 {

            font-family: $letraTitulos;
            // LLAMO AL MIXIN PRO REALIZADO
            @include estilosParrafo($colorado, 5rem, 100, 100px, 80%);
            letter-spacing: 4px;
        }

        /* PARRAFO PRINCIPAL DE LA SECCIÓN */
        p {
            // LLAMO AL MIXIN PRO REALIZADO
            @include estilosParrafo($letra, 1.5rem, 100, 30px, 80%);

            /* TEXTO SELECCIONADO */
            &:hover {
                background-color: $verde;
                color: $letra;
                transition-duration: 2s;
                padding: 1rem;
                border: double;
                border-radius: 0.5rem;
                width: 80%;
            }
        }
    }
}

/*
PASO 1: Definir estrategia --> MOBILE LAST
PASO 2: Escribir media querys --> MAX WIDTH y BREAKPOINTS
PASO 3: Codear condiciones

Media Querys */

/* Si como minimo tengo 768px de ancho.... */
@media (max-width: 768px) {

    /* SECCIONES */
    .nosotros {
        grid-area: nosotros;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0px;

        // TITULO PRINCIPAL
        h1 {
            font: {
                family: $letraLogo;
                style: italic;
                font-size: 6rem;
            }

            .otraLetra {
                font: {
                    family: $estiloProyecto2;
                    style: initial;
                    size: 2rem;
                }

                letter-spacing: 10px;
            }

            // LLAMO AL MIXIN PRO REALIZADO
            @include estilosParrafo(black, 6rem, 100, 70px, 80%);
        }

        /* ANCHO CARROUSEL PPAL */
        .alto {
            height: auto;

            /* IMAGENES DEL CARROUSEL */
            img {
                position: relative;
                height: auto;
                bottom: 0px;
            }

            .cucurucho {
                position: relative;
                height: auto;
                top: 0px;
            }
        }

        .fondocono {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            background-image: url(/img/conomult.jpg);
            padding-top: 2rem;

            // TITULO DE LA SECCION
            h2 {

                font-family: $letraTitulos;
                // LLAMO AL MIXIN PRO REALIZADO
                @include estilosParrafo($colorado, 5rem, 100, 100px, 80%);
                letter-spacing: 4px;
            }

            /* PARRAFO PRINCIPAL DE LA SECCIÓN */
            p {
                // LLAMO AL MIXIN PRO REALIZADO
                @include estilosParrafo($letra, 1.5rem, 100, 30px, 80%);

                /* TEXTO SELECCIONADO */
                &:hover {
                    background-color: $verde;
                    color: $letra;
                    transition-duration: 2s;
                    padding: 1rem;
                    border: double;
                    border-radius: 0.5rem;
                    width: 80%;
                }
            }
        }
    }
}

.productos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
        "titulo titulo titulo titulo"
        "prod1 prod2 prod3 prod4";
    grid-area: productos;
    color: $amarillo;
    border-top: solid;
    background-image: url(/img/local25.jpg);
    background-size: cover;
}

.titulo {
    grid-area: titulo;
    @include grilla (flex, column, center, center, white);

    // TITULO DE LA SECCION
    h2 {
        font-family: $letraTitulos;
        // LLAMO AL MIXIN PRO REALIZADO
        @include estilosParrafo($colorado, 5rem, 100, 100px, 80%);
        letter-spacing: 4px;
    }

    /* PARRAFO PRINCIPAL DE LA SECCIÓN */
    p {
        // LLAMO AL MIXIN PRO REALIZADO
        @include estilosParrafo($letra, 1.5rem, 900, 30px, 80%);
        background-color: $fondo;
        border: double;
        border-radius: 0.5rem;

        /* TEXTO SELECCIONADO */
        &:hover {
            background-color: $fondo;
            color: $letra;
            transition-duration: 2s;
            border: double;
            border-radius: 0.5rem;
            width: 90%;
        }
    }
}

.prod1,
.prod2,
.prod3,
.prod4 {
    grid-area: prod1, prod2, prod3, prod4;
    display: grid;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;

    p {
        // LLAMO AL MIXIN PRO REALIZADO
        @include estilosParrafo($marron, 1.2rem, 900, 30px, 100%);
        background-color: $fondo;
        border: double;
        border-radius: 0.5rem;

        /* TEXTO SELECCIONADO */
        &:hover {
            background-color: $marron;
            color: $amarillo;
            transition-duration: 2s;
            border: double;
            border-radius: 0.5rem;
            width: 100%;
        }
    }

    ul {
        padding-left: 0rem;

        /* LISTAS */
        li {
            list-style: none;
            @include estilosParrafo($letra, 1rem, 100, 40px, 100%);
            background-color: $fondo;
            border: double;
            border-radius: 0.5rem;
            width: 100%;

            &:hover {
                background-color: $marron;
                color: $amarillo;
                transition-duration: 2s;
                border: double;
                border-radius: 0.5rem;
                width: 100%;
            }
        }
    }
}

/*
PASO 1: Definir estrategia --> MOBILE LAST
PASO 2: Escribir media querys --> MAX WIDTH y BREAKPOINTS
PASO 3: Codear condiciones

Media Querys */

/* Si como minimo tengo 768px de ancho.... */
@media (max-width: 768px) {

    /* SECCIONES */
    .productos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 0px 0px;
        grid-template-areas:
            "titulo titulo"
            "prod1 prod3"
            "prod2 prod4";
        grid-area: productos;
        color: $amarillo;
        border-top: solid;
        background-image: url(/img/local25.jpg);
        background-size: auto;
    }

    .titulo {
        grid-area: titulo;
        display: flex;
        flex-direction: column;

        // TITULO DE LA SECCION
        h2 {
            font-family: $letraTitulos;
            // LLAMO AL MIXIN PRO REALIZADO
            @include estilosParrafo($colorado, 5rem, 100, 100px, 80%);
            letter-spacing: 4px;
        }

        /* PARRAFO PRINCIPAL DE LA SECCIÓN */
        p {
            // LLAMO AL MIXIN PRO REALIZADO
            @include estilosParrafo($letra, 1.5rem, 900, 30px, 80%);
            background-color: $fondo;
            border: double;
            border-radius: 0.5rem;

            /* TEXTO SELECCIONADO */
            &:hover {
                background-color: $fondo;
                color: $letra;
                transition-duration: 2s;
                border: double;
                border-radius: 0.5rem;
                width: 90%;
            }
        }
    }

    .prod1 {
        grid-area: prod1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 0rem;

        p {
            // LLAMO AL MIXIN PRO REALIZADO
            @include estilosParrafo($marron, 1.2rem, 900, 30px, 100%);
            background-color: $fondo;
            border: double;
            border-radius: 0.5rem;

            /* TEXTO SELECCIONADO */
            &:hover {
                background-color: $marron;
                color: $amarillo;
                transition-duration: 2s;
                border: double;
                border-radius: 0.5rem;
                width: 100%;
            }
        }

        ul {
            padding-left: 0rem;

            /* LISTAS */
            li {
                list-style: none;
                @include estilosParrafo($letra, 1rem, 100, 40px, 100%);
                background-color: $fondo;
                border: double;
                border-radius: 0.5rem;
                width: 100%;

                &:hover {
                    background-color: $marron;
                    color: $amarillo;
                    transition-duration: 2s;
                    border: double;
                    border-radius: 0.5rem;
                    width: 100%;
                }
            }
        }
    }

    .prod2 {
        grid-area: prod2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: -1rem;
        margin-bottom: 3rem;

        p {
            // LLAMO AL MIXIN PRO REALIZADO
            @include estilosParrafo($marron, 1.2rem, 900, 30px, 100%);
            background-color: $fondo;
            border: double;
            border-radius: 0.5rem;

            /* TEXTO SELECCIONADO */
            &:hover {
                background-color: $marron;
                color: $amarillo;
                transition-duration: 2s;
                border: double;
                border-radius: 0.5rem;
                width: 100%;
            }
        }

        ul {
            padding-left: 0rem;

            /* LISTAS */
            li {
                list-style: none;
                @include estilosParrafo($letra, 1rem, 100, 40px, 100%);
                background-color: $fondo;
                border: double;
                border-radius: 0.5rem;
                width: 100%;

                &:hover {
                    background-color: $marron;
                    color: $amarillo;
                    transition-duration: 2s;
                    border: double;
                    border-radius: 0.5rem;
                    width: 100%;
                }
            }
        }
    }

    .prod3 {
        grid-area: prod3;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1rem;
        margin-bottom: 0rem;

        p {
            // LLAMO AL MIXIN PRO REALIZADO
            @include estilosParrafo($marron, 1.2rem, 900, 30px, 100%);
            background-color: $fondo;
            border: double;
            border-radius: 0.5rem;

            /* TEXTO SELECCIONADO */
            &:hover {
                background-color: $marron;
                color: $amarillo;
                transition-duration: 2s;
                border: double;
                border-radius: 0.5rem;
                width: 100%;
            }
        }

        ul {
            padding-left: 0rem;

            /* LISTAS */
            li {
                list-style: none;
                @include estilosParrafo($letra, 1rem, 100, 40px, 100%);
                background-color: $fondo;
                border: double;
                border-radius: 0.5rem;
                width: 100%;

                &:hover {
                    background-color: $marron;
                    color: $amarillo;
                    transition-duration: 2s;
                    border: double;
                    border-radius: 0.5rem;
                    width: 100%;
                }
            }
        }
    }

    .prod4 {
        grid-area: prod4;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: -2rem;
        margin-bottom: 3rem;

        p {
            // LLAMO AL MIXIN PRO REALIZADO
            @include estilosParrafo($marron, 1.2rem, 900, 30px, 100%);
            background-color: $fondo;
            border: double;
            border-radius: 0.5rem;

            /* TEXTO SELECCIONADO */
            &:hover {
                background-color: $marron;
                color: $amarillo;
                transition-duration: 2s;
                border: double;
                border-radius: 0.5rem;
                width: 100%;
            }
        }

        ul {
            padding-left: 0rem;

            /* LISTAS */
            li {
                list-style: none;
                @include estilosParrafo($letra, 1rem, 100, 40px, 100%);
                background-color: $fondo;
                border: double;
                border-radius: 0.5rem;
                width: 100%;

                &:hover {
                    background-color: $marron;
                    color: $amarillo;
                    transition-duration: 2s;
                    border: double;
                    border-radius: 0.5rem;
                    width: 100%;
                }
            }
        }
    }
}

/* SECCIONES */
.local {
    grid-area: locall;
    @include grilla (flex, column, center, center, $amarillo);
    border-top: double;
    background-image: url(/img/conomult.jpg);
    background-size: cover;

    // TITULO DE LA SECCION    
    h2 {
        font-family: $letraTitulos;
        // LLAMO AL MIXIN PRO REALIZADO
        @include estilosParrafo($colorado, 5rem, 100, 100px, 80%);
        letter-spacing: 4px;
    }

    .local__ubicacion {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5rem;

        /* PARRAFO PRINCIPAL DE LA SECCIÓN */
        p {
            // LLAMO AL MIXIN PRO REALIZADO
            @include estilosParrafo(black, 1.5rem, 900, 30px, 30%);

            padding: {
                top: 1rem;
                bottom: 1rem;
            }

            border: double;
            border-radius: 0.5rem;
            background-color: $fondo;

            /* LOCAL SELECCIONADO */
            &:hover {
                background-color: $marron;
                color: $amarillo;
                transition-duration: 2s;
            }
        }

        /* INFORMACIÓN DE SECCIÓN */
        .local iframe {
            display: flex;
        }
    }
}

/*
PASO 1: Definir estrategia --> MOBILE LAST
PASO 2: Escribir media querys --> MAX WIDTH y BREAKPOINTS
PASO 3: Codear condiciones

Media Querys */

/* Si como minimo tengo 768px de ancho.... */
@media (max-width: 768px) {

    /* SECCIONES */
    .local {
        grid-area: locall;
        @include grilla (flex, column, center, center, $amarillo);
        border-top: double;
        background-image: url(/img/conomult.jpg);
        background-size: cover;

        h2 {
            font-family: $letraTitulos;
            // LLAMO AL MIXIN PRO REALIZADO
            @include estilosParrafo($colorado, 5rem, 100, 100px, 80%);
            letter-spacing: 4px;
        }

        /* INFORMACIÓN DE SECCIÓN */
        .local__ubicacion {
            display: flex;
            flex-direction: column;

            /* PARRAFO PRINCIPAL DE LA SECCIÓN */
            p {
                // LLAMO AL MIXIN PRO REALIZADO
                @include estilosParrafo($letra, 1.5rem, 900, 30px, 60%);
                background-color: $fondo;
                border: double;
                border-radius: 0.5rem;

                margin: {
                    top: 1rem;
                    bottom: 1rem;
                }

                /* LOCAL SELECCIONADO */
                &:hover {
                    background-color: $marron;
                    color: $amarillo;
                    transition-duration: 2s;
                }
            }
        }
    }
}

/* SECCIONES */
.contacto {
    grid-area: contacto;
    @include grilla (flex, column, center, center, $amarillo);
    border-top: double;
    background-color: $fondo;
    background-image: url(/img/cucuruchofrutilla.png);
    background-repeat: no-repeat;
    background-position: -3rem;


    // TITULO DE LA SECCION    
    h2 {
        font-family: $letraTitulos;
        // LLAMO AL MIXIN PRO REALIZADO
        @include estilosParrafo($colorado, 5rem, 100, 100px, 80%);
        letter-spacing: 4px;
    }

    /* PARRAFO PRINCIPAL DE LA SECCIÓN */
    p {
        // LLAMO AL MIXIN PRO REALIZADO
        @include estilosParrafo($letra, 1.5rem, 100, 30px, 100%);

        /* TEXTO SELECCIONADO */
        &:hover {
            background-color: $marron;
            color: $amarillo;
            transition-duration: 2s;
            border: double;
            border-radius: 0.5rem;
        }
    }

    /* FORMULARIO */
    .contacto__form {
        width: 70%;

        .contacto__form-row {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        /* FORMULARIO-INPUT */
        .contacto__form-input {
            width: 60%;
            align-items: center;
            @extend %estilosForm;
        }

        /* FORMULARIO-TEXTO */
        .contacto__form-text {
            width: 100%;
            @extend %estilosForm;
        }

        /* FORMULARIO-SUBMIT */
        .contacto__form-sub {
            width: 60%;
            @extend %estilosForm;
            margin-bottom: 4rem;
            font-weight: 600;
        }

        /* FORMULARIO SELECCIONADO */
        .contacto__form--activo:hover {
            background-color: $marron;
            color: $amarillo;
            transition-duration: 2s;
        }
    }
}

/*
PASO 1: Definir estrategia --> MOBILE LAST
PASO 2: Escribir media querys --> MAX WIDTH y BREAKPOINTS
PASO 3: Codear condiciones

Media Querys */

/* Si como minimo tengo 768px de ancho.... */
@media (max-width: 768px) {

    /* SECCIONES */
    .contacto {
        grid-area: contacto;
        display: flex;
        border-top: double;
        background-image: url(/img/cucuruchofrutilla.png);
        background-size: cover;
        background-position: -11rem;
        color: $amarillo;

        // TITULO DE LA SECCION    
        h2 {
            font-family: $letraTitulos;
            // LLAMO AL MIXIN PRO REALIZADO
            @include estilosParrafo($colorado, 5rem, 100, 100px, 80%);
            letter-spacing: 4px;
        }

        /* PARRAFO PRINCIPAL DE LA SECCIÓN */
        p {
            // LLAMO AL MIXIN PRO REALIZADO
            @include estilosParrafo($letra, 1.5rem, 100, 30px, 100%);
            text-align: center;

            /* TEXTO SELECCIONADO */
            &:hover {
                background-color: $marron;
                color: $amarillo;
                transition-duration: 2s;
                border: double;
                border-radius: 0.5rem;
            }
        }

        /* FORMULARIO */
        .contacto__form {
            width: 80%;

            .contacto__form-row {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            /* FORMULARIO-INPUT */
            .contacto__form-input {
                @include estilosForm ($marron, 1rem, 1rem, 0.5rem, double, $amarillo, 0.5rem, 55%);
                border-bottom: solid 1px;
            }

            /* FORMULARIO-TEXTO */
            .contacto__form-text {
                @include estilosForm ($marron, 1rem, 1rem, 0.5rem, double, $amarillo, 0.5rem, 70%);
                border-bottom: solid 1px;
            }

            /* FORMULARIO-SUBMIT -- MAP-GET*/
            .contacto__form-sub {
                color: map-get($estiloForm, colorr);
                width: map-get($estiloForm, ancho);
                border: map-get($estiloForm, bordes);
                border-bottom: map-get($estiloForm, bordeAbajo);
                font-size: map-get($estiloForm, tamanio);
                margin-bottom: map-get($estiloForm, margenAbajo);
                border-radius: map-get($estiloForm, borde);
                font-weight: map-get($estiloForm, peso);
                background-color: map-get($estiloForm, fondo);
            }

            .contacto__form--activo:hover {
                background-color: $marron;
                color: $amarillo;
                transition-duration: 2s;
            }
        }
    }
}